<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Digital Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="constrng" connectionString="Data Source=<YOUR_PC_NAME>;Initial Catalog=<YOUR_DB_NAME>;Persist Security Info=True;User ID=sa;Password=<DB_PASSWORD>"/>
  </connectionStrings>
  <userSettings>
    <Digital Library.Properties.Settings>
      <setting name="FineOption" serializeAs="String">
        <value />
      </setting>
      <setting name="FineAmount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IssueOption" serializeAs="String">
        <value>Days</value>
      </setting>
      <setting name="MembershipOption" serializeAs="String">
        <value />
      </setting>
      <setting name="ShelfCapacity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="switchFine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="switchIssue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="switchMembership" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="switchShelf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IssueAmount" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="FineOptionCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IssueOptionCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MembershipOptionCount" serializeAs="String">
        <value>1</value>
      </setting>
    </Digital Library.Properties.Settings>
  </userSettings>
</configuration>
